<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbw.mapper.UserMapper">
    <!-- 分页查询用户-->
    <select id="selectByPageNum" >
        select *
        from user
        limit #{currIndex},#{pageSize}
    </select>

</mapper>